In [131]:
import pandas as pd
import numpy as np


## Reading data: Books, Ratings, Users
books = pd.read_csv("../data/Books.csv", sep=',', dtype='unicode')
ratings = pd.read_csv("../data/Ratings.csv", sep=',', dtype='unicode')
users = pd.read_csv("../data/Users.csv", sep=',', dtype='unicode')

In [132]:
## Books Data
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/0195153448.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/0195153448.01.LZZZZZZZ.jpg
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/0002005018.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/0002005018.01.LZZZZZZZ.jpg
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/0060973129.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/0060973129.01.LZZZZZZZ.jpg
3,0374157065,Flu: The Story of the Great Influenza Pandemic of 1918 and the Search for the Virus That Caused It,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/0374157065.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/0374157065.01.LZZZZZZZ.jpg
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/0393045218.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/0393045218.01.LZZZZZZZ.jpg

In [133]:
books.shape

(271360, 8)

In [134]:
books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271360 entries, 0 to 271359
Data columns (total 8 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ISBN                 271360 non-null  object
 1   Book-Title           271360 non-null  object
 2   Book-Author          271358 non-null  object
 3   Year-Of-Publication  271360 non-null  object
 4   Publisher            271358 non-null  object
 5   Image-URL-S          271360 non-null  object
 6   Image-URL-M          271360 non-null  object
 7   Image-URL-L          271357 non-null  object
dtypes: object(8)
memory usage: 16.6+ MB

In [135]:
#Since I will be using only Image-URL-L to display in the UI, I shall delete the other S and M images
# books.drop(["Image-URL-S", "Image-URL-M"], axis = 1, inplace=True)

In [136]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/0195153448.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/0195153448.01.LZZZZZZZ.jpg
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/0002005018.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/0002005018.01.LZZZZZZZ.jpg
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/0060973129.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/0060973129.01.LZZZZZZZ.jpg
3,0374157065,Flu: The Story of the Great Influenza Pandemic of 1918 and the Search for the Virus That Caused It,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/0374157065.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/0374157065.01.LZZZZZZZ.jpg
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/0393045218.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/0393045218.01.LZZZZZZZ.jpg

In [137]:
##Data cleaning

### To check if there are any null values present in the data

books.isna().sum()

ISBN                   0
Book-Title             0
Book-Author            2
Year-Of-Publication    0
Publisher              2
Image-URL-S            0
Image-URL-M            0
Image-URL-L            3
dtype: int64

In [138]:
books.loc[books['Book-Author'].isna(), :]

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
118033,0751352497,A+ Quiz Masters:01 Earth,NaN,1999,Dorling Kindersley,http://images.amazon.com/images/P/0751352497.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/0751352497.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/0751352497.01.LZZZZZZZ.jpg
187689,9627982032,The Credit Suisse Guide to Managing Your Personal Wealth,NaN,1995,Edinburgh Financial Publishing,http://images.amazon.com/images/P/9627982032.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/9627982032.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/9627982032.01.LZZZZZZZ.jpg

In [139]:
books.at[118033, 'Book-Author'] = 'Other'
books.at[187689, 'Book-Author'] = 'Other'

In [140]:
books.loc[books['Book-Author'] == 'Other']

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
118033,0751352497,A+ Quiz Masters:01 Earth,Other,1999,Dorling Kindersley,http://images.amazon.com/images/P/0751352497.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/0751352497.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/0751352497.01.LZZZZZZZ.jpg
187689,9627982032,The Credit Suisse Guide to Managing Your Personal Wealth,Other,1995,Edinburgh Financial Publishing,http://images.amazon.com/images/P/9627982032.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/9627982032.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/9627982032.01.LZZZZZZZ.jpg

In [141]:
books.loc[books['Publisher'].isna(), :]

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
128890,193169656X,Tyrant Moon,Elaine Corvidae,2002,NaN,http://images.amazon.com/images/P/193169656X.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/193169656X.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/193169656X.01.LZZZZZZZ.jpg
129037,1931696993,Finders Keepers,Linnea Sinclair,2001,NaN,http://images.amazon.com/images/P/1931696993.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/1931696993.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/1931696993.01.LZZZZZZZ.jpg

In [142]:
books.at[128890, 'Publisher'] = 'Other'
books.at[129037, 'Publisher'] = 'Other'

In [143]:
books.loc[books['Publisher'] == 'Other']

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
128890,193169656X,Tyrant Moon,Elaine Corvidae,2002,Other,http://images.amazon.com/images/P/193169656X.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/193169656X.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/193169656X.01.LZZZZZZZ.jpg
129037,1931696993,Finders Keepers,Linnea Sinclair,2001,Other,http://images.amazon.com/images/P/1931696993.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/1931696993.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/1931696993.01.LZZZZZZZ.jpg

In [144]:
books.loc[books['Image-URL-L'].isna(), :]

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
209538,078946697X,"DK Readers: Creating the X-Men, How It All Began (Level 4: Proficient Readers)\"";Michael Teitelbaum""",2000,DK Publishing Inc,http://images.amazon.com/images/P/078946697X.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/078946697X.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/078946697X.01.LZZZZZZZ.jpg,NaN
220731,2070426769,"Peuple du ciel, suivi de 'Les Bergers\"";Jean-Marie Gustave Le ClÃ?Â©zio""",2003,Gallimard,http://images.amazon.com/images/P/2070426769.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/2070426769.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/2070426769.01.LZZZZZZZ.jpg,NaN
221678,0789466953,"DK Readers: Creating the X-Men, How Comic Books Come to Life (Level 4: Proficient Readers)\"";James Buckley""",2000,DK Publishing Inc,http://images.amazon.com/images/P/0789466953.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/0789466953.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/0789466953.01.LZZZZZZZ.jpg,NaN

In [145]:
## We can see in the above, there are three rows with Image-URL-L column null. What we can also ovserve is that, The values for Book-Author and Year-of-Publication are interchanged.
## Also instead of publisher value is in Book-Title, so let's fix this
pd.set_option('display.max_colwidth', None)
books.loc[209538]

ISBN                                                                                                             078946697X
Book-Title             DK Readers: Creating the X-Men, How It All Began (Level 4: Proficient Readers)\";Michael Teitelbaum"
Book-Author                                                                                                            2000
Year-Of-Publication                                                                                       DK Publishing Inc
Publisher                                                      http://images.amazon.com/images/P/078946697X.01.THUMBZZZ.jpg
Image-URL-S                                                    http://images.amazon.com/images/P/078946697X.01.MZZZZZZZ.jpg
Image-URL-M                                                    http://images.amazon.com/images/P/078946697X.01.LZZZZZZZ.jpg
Image-URL-L                                                                                                             NaN
Name: 209538, dtype: object

In [146]:
books.at[209538, 'Book-Title'] = "DK Readers: Creating the X-Men, How It All Began (Level 4: Proficient Readers)"
books.at[209538, 'Book-Author'] = "Michael Teitelbaum"
books.at[209538, 'Year-Of-Publication'] = 2000
books.at[209538, 'Publisher'] = "DK Publishing Inc"
books.at[209538, 'Image-URL-S'] = "http://images.amazon.com/images/P/078946697X.01.THUMBZZZ.jpg"
books.at[209538, 'Image-URL-M'] = "http://images.amazon.com/images/P/078946697X.01.MZZZZZZZ.jpg"
books.at[209538, 'Image-URL-L'] = "http://images.amazon.com/images/P/078946697X.01.LZZZZZZZ.jpg"

books.loc[209538]

ISBN                                                                                       078946697X
Book-Title             DK Readers: Creating the X-Men, How It All Began (Level 4: Proficient Readers)
Book-Author                                                                        Michael Teitelbaum
Year-Of-Publication                                                                              2000
Publisher                                                                           DK Publishing Inc
Image-URL-S                              http://images.amazon.com/images/P/078946697X.01.THUMBZZZ.jpg
Image-URL-M                              http://images.amazon.com/images/P/078946697X.01.MZZZZZZZ.jpg
Image-URL-L                              http://images.amazon.com/images/P/078946697X.01.LZZZZZZZ.jpg
Name: 209538, dtype: object

In [147]:
books.loc[221678]

ISBN                                                                                                                    0789466953
Book-Title             DK Readers: Creating the X-Men, How Comic Books Come to Life (Level 4: Proficient Readers)\";James Buckley"
Book-Author                                                                                                                   2000
Year-Of-Publication                                                                                              DK Publishing Inc
Publisher                                                             http://images.amazon.com/images/P/0789466953.01.THUMBZZZ.jpg
Image-URL-S                                                           http://images.amazon.com/images/P/0789466953.01.MZZZZZZZ.jpg
Image-URL-M                                                           http://images.amazon.com/images/P/0789466953.01.LZZZZZZZ.jpg
Image-URL-L                                                                                                                    NaN
Name: 221678, dtype: object

In [148]:
books.at[221678, 'Book-Title'] = "DK Readers: Creating the X-Men, How Comic Books Come to Life (Level 4: Proficient Readers)"
books.at[221678, 'Book-Author'] = "James Buckley"
books.at[221678, 'Year-Of-Publication'] = 2000
books.at[221678, 'Publisher'] = "DK Publishing Inc"
books.at[221678, 'Image-URL-S'] = "http://images.amazon.com/images/P/0789466953.01.THUMBZZZ.jpg"
books.at[221678, 'Image-URL-M'] = "http://images.amazon.com/images/P/0789466953.01.MZZZZZZZ.jpg"
books.at[221678, 'Image-URL-L'] = "http://images.amazon.com/images/P/0789466953.01.LZZZZZZZ.jpg"

books.loc[221678]

ISBN                                                                                                   0789466953
Book-Title             DK Readers: Creating the X-Men, How Comic Books Come to Life (Level 4: Proficient Readers)
Book-Author                                                                                         James Buckley
Year-Of-Publication                                                                                          2000
Publisher                                                                                       DK Publishing Inc
Image-URL-S                                          http://images.amazon.com/images/P/0789466953.01.THUMBZZZ.jpg
Image-URL-M                                          http://images.amazon.com/images/P/0789466953.01.MZZZZZZZ.jpg
Image-URL-L                                          http://images.amazon.com/images/P/0789466953.01.LZZZZZZZ.jpg
Name: 221678, dtype: object

In [149]:
books.loc[220731]

ISBN                                                                                 2070426769
Book-Title             Peuple du ciel, suivi de 'Les Bergers\";Jean-Marie Gustave Le ClÃ?Â©zio"
Book-Author                                                                                2003
Year-Of-Publication                                                                   Gallimard
Publisher                          http://images.amazon.com/images/P/2070426769.01.THUMBZZZ.jpg
Image-URL-S                        http://images.amazon.com/images/P/2070426769.01.MZZZZZZZ.jpg
Image-URL-M                        http://images.amazon.com/images/P/2070426769.01.LZZZZZZZ.jpg
Image-URL-L                                                                                 NaN
Name: 220731, dtype: object

In [150]:
books.at[220731, 'Book-Title'] = "Peuple du ciel, suivi de 'Les Bergers"
books.at[220731, 'Book-Author'] = "Jean-Marie Gustave Le ClÃ?Â©zio"
books.at[220731, 'Year-Of-Publication'] = 2003
books.at[220731, 'Publisher'] = "Gallimard"
books.at[220731, 'Image-URL-S'] = "http://images.amazon.com/images/P/2070426769.01.THUMBZZZ.jpg"
books.at[220731, 'Image-URL-M'] = "http://images.amazon.com/images/P/2070426769.01.MZZZZZZZ.jpg"
books.at[220731, 'Image-URL-L'] = "http://images.amazon.com/images/P/2070426769.01.LZZZZZZZ.jpg"

books.loc[221678]

ISBN                                                                                                   0789466953
Book-Title             DK Readers: Creating the X-Men, How Comic Books Come to Life (Level 4: Proficient Readers)
Book-Author                                                                                         James Buckley
Year-Of-Publication                                                                                          2000
Publisher                                                                                       DK Publishing Inc
Image-URL-S                                          http://images.amazon.com/images/P/0789466953.01.THUMBZZZ.jpg
Image-URL-M                                          http://images.amazon.com/images/P/0789466953.01.MZZZZZZZ.jpg
Image-URL-L                                          http://images.amazon.com/images/P/0789466953.01.LZZZZZZZ.jpg
Name: 221678, dtype: object

In [151]:
books['Year-Of-Publication'] = books['Year-Of-Publication'].astype(int)

In [152]:
print(sorted(list(books['Year-Of-Publication'].unique())))

[0, 1376, 1378, 1806, 1897, 1900, 1901, 1902, 1904, 1906, 1908, 1909, 1910, 1911, 1914, 1917, 1919, 1920, 1921, 1922, 1923, 1924, 1925, 1926, 1927, 1928, 1929, 1930, 1931, 1932, 1933, 1934, 1935, 1936, 1937, 1938, 1939, 1940, 1941, 1942, 1943, 1944, 1945, 1946, 1947, 1948, 1949, 1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2008, 2010, 2011, 2012, 2020, 2021, 2024, 2026, 2030, 2037, 2038, 2050]

In [156]:
## In the above we can see that the year of publication has values which are greater than 2023 which is not valid. So we shall replace invalid years with 2023
books.loc[books['Year-Of-Publication'] > 2021, 'Year-Of-Publication'] = 2023
books.loc[books['Year-Of-Publication'] == 0, 'Year-Of-Publication'] = 2023

In [157]:
## Uppercasing all alphabets in ISBN
books['ISBN'] = books['ISBN'].str.upper()

In [158]:
## Drop duplicate rows
books.drop_duplicates(keep='last', inplace=True) 
books.reset_index(drop = True, inplace = True)

In [159]:
books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271047 entries, 0 to 271046
Data columns (total 8 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ISBN                 271047 non-null  object
 1   Book-Title           271047 non-null  object
 2   Book-Author          271047 non-null  object
 3   Year-Of-Publication  271047 non-null  int32
 4   Publisher            271047 non-null  object
 5   Image-URL-S          271047 non-null  object
 6   Image-URL-M          271047 non-null  object
 7   Image-URL-L          271047 non-null  object
dtypes: int32(1), object(7)
memory usage: 15.5+ MB